{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
<link href="{% static 'css/listting.css' %}" type="text/css" rel="stylesheet" media="all">


<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% for i in biznames%}
            <div class="well well-sm">
                <div class="row">

                    <div class="col-xs-3 col-md-3 text-center">
                        {{i.country.name}}
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            {{i.name}} <a href="{{i.website}}" target="_blank"><span class="glyphicon glyphicon-new-window">
                            </span></a>
                        </h2>
                        <p>
                            {{i.description}}</p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span>(36)<span class="separator">|</span>
                                <span class="glyphicon glyphicon-comment"></span>(100 Comments)
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</div>



{% endblock %}
