{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
<link href="{% static 'css/listting.css' %}" type="text/css" rel="stylesheet" media="all">


    <div class="container">
    <div class="row">
        {% for i in biznames%}

                <div class="media col-md-3">
                    <figure class="pull-left">
                        <h2>

						{{i.category}}

                        </h2>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> {{i.name}} </h4>
                    <p class="list-group-item-text"> {{i.description}}
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> <small> {{i.country.name}} </small></h2>
                    <a href="{{i.website}}" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-block" >Visit Website</button></a>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.1 <small> / </small> 5 </p>
                </div>
<h1>____________________________________________________________________________________________</h1>
        {% endfor %}
        </div>


</div>



{% endblock %}
