{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
<link href="{% static 'css/listting.css' %}" type="text/css" rel="stylesheet" media="all">


    <div class="container">
    <div class="row">
        {% for i in biznames%}

                <div class="media col-md-3">
                    <figure class="pull-left">
                        <h2>
							{% for key, value in biz_cat.items %}
                            {{key}}
							{% endfor %}
                        </h2>
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> List group heading </h4>
                    <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea.
                        Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 13540 <small> votes </small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Vote Now!</button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.1 <small> / </small> 5 </p>
                </div>

        {% endfor %}
        </div>


</div>



{% endblock %}
