{% extends "base1.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block body_block %}

<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<link href='//fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>


<div class="contact" id="contact">
		<div class="container">
			<div class="title">
				<h3>Contact Us</h3>
				<p>________ </p>
			</div>
			<div class="contact-grids">
				<div class="col-md-7 contact-form">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input class="email" type="text" name="Email" placeholder="Email" required="">
						<textarea placeholder="Message" name="Message" required=""></textarea>
						<input type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="col-md-4 address">
					<h4>Get in touch with us</h4>
					<p class="cnt-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets containing Lorem Ipsum passages sed do </p>
					<p>Broome St, NY 10002, Canada. </p>
					<p>Telephone : +00 111 222 3333</p>
					<p>FAX : +1 888 888 4444</p>
					<p>Email : <a href="mailto:example@mail.com">mail@example.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}
