{% extends "base1.html" %}
{% load staticfiles %}

{% block body_background %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/style1.css' %}" type="text/css" rel="stylesheet" media="all">


<div class="content">
			<div class="categories">
				<div class="container">
					<div class="col-md-2 focus-grid">
						<a href="search/Automotive/" value="hi there">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-car"></i></div>
									<h4 class="clrchg">Automotive</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Education_Learning">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-laptop"></i></div>
									<h4 class="clrchg"> Electronics & Appliances</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Entertainment">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-gamepad"></i></div>
									<h4 class="clrchg">Entertainment</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Financial_Services">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-money"></i></div>
									<h4 class="clrchg">Financial Services</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Hair_Beauty">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-asterisk"></i></div>
									<h4 class="clrchg">Hair & Beauty</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Medical">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-medkit"></i></div>
									<h4 class="clrchg">Medical</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Services">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-shield"></i></div>
									<h4 class="clrchg">Services</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Restaurant">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-cutlery"></i></div>
									<h4 class="clrchg">Restaurants</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Retail_Shopping">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-shopping-cart"></i></div>
									<h4 class="clrchg">Retail Shopping</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Sports_Recreation">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-futbol-o"></i></div>
									<h4 class="clrchg">Sports Recreation</h4>
								</div>
							</div>
						</a>
					</div>
                    	<div class="col-md-2 focus-grid">
						<a href="search/Real_Estate">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-home"></i></div>
									<h4 class="clrchg">Real Estate</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-2 focus-grid">
						<a href="search/Other">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-gg-circle"></i></div>
									<h4 class="clrchg">Others</h4>
								</div>
							</div>
						</a>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>


{% endblock %}
