{% extends "base.html" %}


{% block body_background %}

		<div id="banner" class="container"> <img src="images/header-photo.jpg" width="1200" height="400" alt="" /> </div>
		<div id="three-column" class="container">
			<header>
				<h2>Pellentesque tristique ante ut risus</h2>
			</header>
             {% for i in biznames%}
			<div class="tbox1">
				<div class="box-style box-style01">
					<div class="content"> <a href="bizlist\{{i.id}}" class="image image-full"><img src="{{i.profile_pic.url}}" alt=""></a>
						<h2>{{i.name}}</h2>
						<p>{{i.description }}</p>
						<a href="bizlist\{{i.id}}" class="button-style">Learn More</a> </div>
				</div>
			</div>
			{% endfor %}



		</div>
		<div id="page">
			<div id="content"></div>
			<div id="sidebar"></div>
		</div>
	</div>
-->
___________________________

{% endblock %}
