{% extends "base.html" %}


{% block body_background %}

    <div class="row">
  <div class="col-xs-12">
        <h1>Google</h1>
        <div id="googleMap" style="width:100%;height:600px;"></div>
		</div>
</div>


<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(15.45417,18.73221),
    zoom:3,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOLP_DqFlx7E_oX5DZVALiOd34I2WSG-I&callback=myMap"></script>



{% endblock %}

{% block body_block %}



<!-- Container (About Section) -->
<div class="container-fluid">
  <h2>About Company Page</h2>
  <div class="row">
    {% for i in biznames%}
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
<!--- --->

      <img src="{{i.profile_pic.url}} " height="200" width="200" alt="this customer didn't upload a picture">
      <div class="caption">

          <!--- --->
        <h3>{{i.name}}</h3>
        <p>{{i.description }}</p>
        <p><a href="bizlist\{{i.id}}" class="btn btn-primary" role="button">More</a>
      </div>

    </div>

  </div>
    {% endfor %}
</div>
___________________________

{% endblock %}
